.nav {
  padding: 2em 1em;
  text-align: center;
}

.nav-link {
  border: 1px solid lightslategray;
  display: inline-block;
  padding: .5em 1em;
  background-color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: lightslategray;
}

.nav-link:not(:first-child) {
  border-left: none;
}

.nav-link:first-child {
  border-radius: .5rem 0 0 .5rem;
}

.nav-link:last-child {
  border-radius: 0 .5rem .5rem 0;
}