body {
  padding: 1rem;
}

.movie-summary {
  display:-webkit-box; 
  word-wrap:break-word; 
  -webkit-line-clamp:3; 
  -webkit-box-orient:vertical; 
  overflow:hidden; 
  text-overflow:ellipsis;
}

.movie:not(:first-child) {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: 1px dashed darkgray;
}